@font-face {
    font-family: 'Lobster';
    src:url('../font/Lobster-Regular.woff2') format('woff2'),
        url('../font/Lobster-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
